<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jubination?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://162.246.21.98:3306/jubination?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">Administrator</property>
    <property name="hibernate.connection.password">callbot1234</property>-->
    <property name="hibernate.c3p0.min_size">10</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <!--  <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  -->
    
    <mapping class="com.jubination.model.pojo.exotel.Call"/>
    
     <mapping class="com.jubination.model.pojo.crm.Client"/>
    <mapping class="com.jubination.model.pojo.crm.TempClient"/>
    <mapping class="com.jubination.model.pojo.crm.DataAnalytics"/>
    <mapping class="com.jubination.model.pojo.crm.Lead"/>
    <mapping class="com.jubination.model.pojo.crm.Beneficiaries"/>
    
    <mapping class="com.jubination.model.pojo.admin.Admin"/>
    <mapping class="com.jubination.model.pojo.admin.EventTracker"/>
    <mapping class="com.jubination.model.pojo.admin.AdminSettings"/>
   <mapping class="com.jubination.model.pojo.admin.MailMessage" />
    
    <mapping class="com.jubination.model.pojo.products.Campaigns"/>
    <mapping class="com.jubination.model.pojo.products.Products"/>
    
    <mapping class="com.jubination.model.pojo.status.ReportStatus"/>
    
    
    <mapping class="com.jubination.model.pojo.report.Report"/>
    <mapping class="com.jubination.model.pojo.report.Test"/>
    <mapping class="com.jubination.model.pojo.report.Barcode"/>
    <mapping class="com.jubination.model.pojo.report.ReferenceRange"/>
    <mapping class="com.jubination.model.pojo.report.Profile"/>
    
    
  </session-factory>
</hibernate-configuration>
